<li class="nav-item">
	<a href="{{ path('client_demande_demande_app_new') }}" class="nav-link">

		<i class="nav-icon fa fa-plus-circle" aria-hidden="true"></i>
		<p>Nouvelle Demande</p>
	</a>
</li>


<li class="nav-item">
	<a href="#" class="nav-link">
		<i class="nav-icon fas fa-copy"></i>
		<p>
			Demandes
			<i class="fas fa-angle-left right"></i>
		</p>
	</a>
	<ul class="nav nav-treeview">

		<li class="nav-item">
			<a href="{{ path('client_demande_app_index') }}" class="nav-link">


				<i class="far fa-circle nav-icon"></i>
				<p>liste
				</p>
			</a>
		</li>
	</ul>
</li>


<li class="nav-item">
	<a href="#" class="nav-link">
		<i class="nav-icon fas fa-copy"></i>
		<p>
			Lotissements
			<i class="fas fa-angle-left right"></i>
		</p>
	</a>
	<ul class="nav nav-treeview">

		<li class="nav-item">
			<a href="{{ path('client_lotissement_app_index') }}" class="nav-link">


				<i class="far fa-circle nav-icon"></i>
				<p>liste
				</p>
			</a>
		</li>
	</ul>
</li>

{# <li class="nav-item">
	<a href="#" class="nav-link">
		<i class="nav-icon fas fa-copy"></i>
		<p>
			Plans
			<i class="fas fa-angle-left right"></i>
		</p>
	</a>
	<ul class="nav nav-treeview">

		<li class="nav-item">
			<a href="{{ path('app_plan_app_index') }}" class="nav-link">


				<i class="far fa-circle nav-icon"></i>
				<p>liste
				</p>
			</a>
		</li>
	</ul>
</li>


<li class="nav-item">
	<a href="#" class="nav-link">
		<i class="nav-icon fas fa-copy"></i>
		<p>
			Parcelles
			<i class="fas fa-angle-left right"></i>
		</p>
	</a>
	<ul class="nav nav-treeview">

		<li class="nav-item">
			<a href="{{ path('app_parcelle_app_index') }}" class="nav-link">


				<i class="far fa-circle nav-icon"></i>
				<p>liste
				</p>
			</a>
		</li>
	</ul>
</li>

<li class="nav-item">
	<a href="#" class="nav-link">
		<i class="nav-icon fas fa-copy"></i>
		<p>
			Zones
			<i class="fas fa-angle-left right"></i>
		</p>
	</a>
	<ul class="nav nav-treeview">

		<li class="nav-item">
			<a href="{{ path('app_zone_app_index') }}" class="nav-link">


				<i class="far fa-circle nav-icon"></i>
				<p>liste
				</p>
			</a>
		</li>
	</ul>
</li>

<li class="nav-item">
	<a href="#" class="nav-link">

		<i class="fa fa-map-signs" aria-hidden="true"></i>
		<p>
			Localités
			<i class="fas fa-angle-left right"></i>
		</p>
	</a>
	<ul class="nav nav-treeview">

		<li class="nav-item">
			<a href="{{ path('app_localite_app_index') }}" class="nav-link">


				<i class="far fa-circle nav-icon"></i>
				<p>liste
				</p>
			</a>
		</li>
	</ul>
</li> #}


<li class="nav-item">
	<a href="{{ path('client_profil') }}" class="nav-link">
		<i class="nav-icon fas fa-user"></i>
		<p>Profil</p>
	</a>
</li>
