{% extends '././layouts/main.html.twig' %}

{% block title %}
	admin

{% endblock %}

{# {% entete des page %} #}
{% block head %}
	{{ parent() }}
{% endblock %}

{# {% le menu %} #}
{% block menu %}
	{% include 'admin/include/menu.html.twig' %}
{% endblock %}

{# {% le corps de la page %} #}
{% block content %}
	<div class="content-wrapper">
		<div class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
					<div
						class="col-sm-6 text-bold">
						{# {% titre de l'activite %} #}
						{% block title_job %}{% endblock %}
					</div>
					<div class="col-sm-6">
						<ol class="breadcrumb float-sm-right">
							<li
								class="breadcrumb-item">
								{# {% operation possible %} #}
								{% block option %}{% endblock %}


								{# <a class="m-1 btn btn-outline-primary float-right ml-1 btn-sm" href="">
																																																																																																																																																																																																																																																																																									<i class="fa fa-reply"></i>
																																																																																																																																																																																																																																																																																									Retour</a> #}
							</li>
						</ol>
					</div>

				</div>


			</div>
			<div class="content">
				<div
					class="container-fluid">
					{# {% les donnees affichees %} #}
					<style>
						body {
							background: #dcdcdc;
						}

						.widget-26 {
							color: #3c4142;
							font-weight: 400;
						}

						.widget-26 tr:first-child td {
							border: 0;
						}

						.widget-26 .widget-26-job-emp-img img {
							width: 35px;
							height: 35px;
							border-radius: 50%;
						}

						.widget-26 .widget-26-job-title {
							min-width: 200px;
						}

						.widget-26 .widget-26-job-title a {
							font-weight: 400;
							font-size: 0.875rem;
							color: #3c4142;
							line-height: 1.5;
						}

						.widget-26 .widget-26-job-title a:hover {
							color: #68CBD7;
							text-decoration: none;
						}

						.widget-26 .widget-26-job-title .employer-name {
							margin: 0;
							line-height: 1.5;
							font-weight: 400;
							color: #3c4142;
							font-size: 0.8125rem;
							color: #3c4142;
						}

						.widget-26 .widget-26-job-title .employer-name:hover {
							color: #68CBD7;
							text-decoration: none;
						}

						.widget-26 .widget-26-job-title .time {
							font-size: 12px;
							font-weight: 400;
						}

						.widget-26 .widget-26-job-info {
							min-width: 100px;
							font-weight: 400;
						}

						.widget-26 .widget-26-job-info p {
							line-height: 1.5;
							color: #3c4142;
							font-size: 0.8125rem;
						}

						.widget-26 .widget-26-job-info .location {
							color: #3c4142;
						}

						.widget-26 .widget-26-job-salary {
							min-width: 70px;
							font-weight: 400;
							color: #3c4142;
							font-size: 0.8125rem;
						}

						.widget-26 .widget-26-job-category {
							padding: 0.5rem;
							display: inline-flex;
							white-space: nowrap;
							border-radius: 15px;
						}

						.widget-26 .widget-26-job-category .indicator {
							width: 13px;
							height: 13px;
							margin-right: 0.5rem;
							float: left;
							border-radius: 50%;
						}

						.widget-26 .widget-26-job-category span {
							font-size: 0.8125rem;
							color: #3c4142;
							font-weight: 600;
						}

						.widget-26 .widget-26-job-starred svg {
							width: 20px;
							height: 20px;
							color: #fd8b2c;
						}

						.widget-26 .widget-26-job-starred svg.starred {
							fill: #fd8b2c;
						}

						.bg-soft-base {
							background-color: #e1f5f7;
						}

						.bg-soft-warning {
							background-color: #fff4e1;
						}

						.bg-soft-success {
							background-color: #d1f6f2;
						}

						.bg-soft-danger {
							background-color: #fedce0;
						}

						.bg-soft-info {
							background-color: #d7efff;
						}


						.card-margin {
							margin-bottom: 1.875rem;
						}

						@media(min-width: 992px) {
							.col-lg-2 {
								flex: 0 0 16.66667%;
								max-width: 16.66667%;
							}
						}

						.card-margin {
							margin-bottom: 1.875rem;
						}

						.card {
							border: 0;
							box-shadow: 0 0 10px 0 rgba(82, 63, 105, 0.1);
							-webkit-box-shadow: 0 0 10px 0 rgba(82, 63, 105, 0.1);
							-moz-box-shadow: 0 0 10px 0 rgba(82, 63, 105, 0.1);
							-ms-box-shadow: 0 0 10px 0 rgba(82, 63, 105, 0.1);
						}

						.card {
							position: relative;
							display: flex;
							flex-direction: column;
							min-width: 0;
							word-wrap: break-word;
							background-color: #ffffff;
							background-clip: border-box;
							border: 1px solid #e6e4e9;
							border-radius: 8px;
						}
					</style>


					<div class="row mb-2">

						{% for label, messages in app.flashes %}
							{% for message in messages %}
								<div class="alert alert-{{ label }}">{{ message }}</div>
							{% endfor %}
						{% endfor %}

					</div>

					{% block data %}{% endblock %}
				</div>
			</div>

			<div class="container-fluid">
				<div class="row mb-2">
					<div class="col-sm-6 text-bold"></div>
					<div class="col-sm-6">
						<ol class="breadcrumb float-sm-right">
							<li
								class="breadcrumb-item">
								{# {% operation possible %} #}
								{% block optionPlus %}{% endblock %}
							</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}


{% block scripts %}
	{{ parent() }}
	<!-- Data table plugin -->
	<script type="text/javascript" src="{{ asset('js/plugins/jquery.dataTables.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('js/plugins/dataTables.bootstrap.min.js') }}"></script>
	<script type="text/javascript">
		$('#sampleTable').DataTable()
	</script>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


{% endblock %}
