<li class="nav-item">
	<a href="{{ path('app_demande_demande_app_new') }}" class="nav-link">


		<i class="nav-icon fa fa-plus-circle" aria-hidden="true"></i>
		<p>Nouvelle Demande</p>
	</a>
</li>


<li class="nav-item">
	<a href="#" class="nav-link">
		<i class="nav-icon fas fa-file"></i>
		<p>
			Demandes
			<i class="fas fa-angle-left right"></i>
		</p>
	</a>
	<ul class="nav nav-treeview">
		<li class="nav-item">
			<a href="{{ path('app_demande_app_new') }}" class="nav-link">

				<i class="far fa-circle nav-icon"></i>
				<p>ajout
				</p>
			</a>
		</li>
		<li class="nav-item">
			<a href="{{ path('app_demande_app_index') }}" class="nav-link">


				<i class="far fa-circle nav-icon"></i>
				<p>liste
				</p>
			</a>
		</li>
	</ul>
</li>


<li class="nav-item">
	<a href="#" class="nav-link">
		<i class="nav-icon fas fa-file"></i>
		<p>
			Demandeurs
			<i class="fas fa-angle-left right"></i>
		</p>
	</a>
	<ul class="nav nav-treeview">
		<li class="nav-item">
			<a href="{{ path('app_demandeur_app_new') }}" class="nav-link">

				<i class="far fa-circle nav-icon"></i>
				<p>ajout
				</p>
			</a>
		</li>
		<li class="nav-item">
			<a href="{{ path('app_demandeur_app_index') }}" class="nav-link">


				<i class="far fa-circle nav-icon"></i>
				<p>liste
				</p>
			</a>
		</li>
	</ul>
</li>


<li class="nav-item">
	<a href="#" class="nav-link">
		<i class="nav-icon fas fa-map-marked "></i>
		<p>
			Lotissements
			<i class="fas fa-angle-left right"></i>
		</p>
	</a>
	<ul class="nav nav-treeview">
		<li class="nav-item">
			<a href="{{ path('app_lotissement_app_new') }}" class="nav-link">


				<i class="far fa-circle nav-icon"></i>
				<p>ajout
				</p>
			</a>
		</li>
		<li class="nav-item">
			<a href="{{ path('app_lotissement_app_index') }}" class="nav-link">


				<i class="far fa-circle nav-icon"></i>
				<p>liste
				</p>
			</a>
		</li>
	</ul>
</li>

<li class="nav-item">
	<a href="#" class="nav-link">
		<i class="nav-icon fas fa-map-pin "></i>
		<p>
			Plans
			<i class="fas fa-angle-left right"></i>
		</p>
	</a>
	<ul class="nav nav-treeview">
		<li class="nav-item">
			<a href="{{ path('app_plan_app_new') }}" class="nav-link">

				<i class="far fa-circle nav-icon"></i>
				<p>ajout
				</p>
			</a>
		</li>
		<li class="nav-item">
			<a href="{{ path('app_plan_app_index') }}" class="nav-link">


				<i class="far fa-circle nav-icon"></i>
				<p>liste
				</p>
			</a>
		</li>
	</ul>
</li>


<li class="nav-item">
	<a href="#" class="nav-link">
		<i class="nav-icon fas fa-map"></i>
		<p>
			Parcelles
			<i class="fas fa-angle-left right"></i>
		</p>
	</a>
	<ul class="nav nav-treeview">
		<li class="nav-item">
			<a href="{{ path('app_parcelle_app_new') }}" class="nav-link">

				<i class="far fa-circle nav-icon"></i>
				<p>ajout
				</p>
			</a>
		</li>
		<li class="nav-item">
			<a href="{{ path('app_parcelle_app_index') }}" class="nav-link">


				<i class="far fa-circle nav-icon"></i>
				<p>liste
				</p>
			</a>
		</li>
	</ul>
</li>

{# <li class="nav-item">
	<a href="#" class="nav-link">
		<i class="nav-icon fas fa-copy"></i>
		<p>
			Zones
			<i class="fas fa-angle-left right"></i>
		</p>
	</a>
	<ul class="nav nav-treeview">
		<li class="nav-item">
			<a href="{{ path('app_zone_app_new') }}" class="nav-link">

				<i class="far fa-circle nav-icon"></i>
				<p>ajout
				</p>
			</a>
		</li>
		<li class="nav-item">
			<a href="{{ path('app_zone_app_index') }}" class="nav-link">


				<i class="far fa-circle nav-icon"></i>
				<p>liste
				</p>
			</a>
		</li>
	</ul>
</li> #}

<li class="nav-item">
	<a href="#" class="nav-link">

		<i class="nav-icon fas fa-map-signs" aria-hidden="true"></i>
		<p>
			Localités
			<i class="fas fa-angle-left right"></i>
		</p>
	</a>
	<ul class="nav nav-treeview">
		<li class="nav-item">
			<a href="{{ path('app_localite_app_new') }}" class="nav-link">

				<i class="far fa-circle nav-icon"></i>
				<p>ajout
				</p>
			</a>
		</li>
		<li class="nav-item">
			<a href="{{ path('app_localite_app_index') }}" class="nav-link">

				<i class="far fa-circle nav-icon"></i>
				<p>liste
				</p>
			</a>
		</li>
	</ul>
</li>


<li class="nav-item">
	<a href="#" class="nav-link">
		<i class="nav-icon fas fa-copy"></i>
		<p>
			G Statuts
			<i class="fas fa-angle-left right"></i>
		</p>
	</a>
	<ul class="nav nav-treeview">
		<li class="nav-item">
			<a href="{{ path('app_statut_app_new') }}" class="nav-link">

				<i class="far fa-circle nav-icon"></i>
				<p>ajout
				</p>
			</a>
		</li>
		<li class="nav-item">
			<a href="{{ path('app_statut_app_index') }}" class="nav-link">


				<i class="far fa-circle nav-icon"></i>
				<p>liste
				</p>
			</a>
		</li>
	</ul>
</li>

<li class="nav-item">
	<a href="#" class="nav-link">
		<i class="nav-icon fas fa-copy"></i>
		<p>
			G des Etats
			<i class="fas fa-angle-left right"></i>
		</p>
	</a>
	<ul class="nav nav-treeview">
		<li class="nav-item">
			<a href="{{ path('app_statut_lotissement_app_new') }}" class="nav-link">


				<i class="far fa-circle nav-icon"></i>
				<p>ajout
				</p>
			</a>
		</li>
		<li class="nav-item">
			<a href="{{ path('app_statut_lotissement_app_index') }}" class="nav-link">


				<i class="far fa-circle nav-icon"></i>
				<p>liste
				</p>
			</a>
		</li>
	</ul>
</li>


<li class="nav-item">
	<a href="#" class="nav-link">
		<i class="nav-icon fas fa-user-circle"></i>
		<p>
			Comptes
			<i class="fas fa-angle-left right"></i>

		</p>
	</a>
	<ul class="nav nav-treeview">

		<li class="nav-item">
			<a href="{{ path('app_user_index') }}" class="nav-link">
				<i class="far fa-users nav-icon"></i>
				<p>liste
				</p>
			</a>
		</li>


	</ul>
</li>


<li class="nav-item">
	<a href="#" class="nav-link">
		<i class="nav-icon fas fa-birthday-cake"></i>
		<p>
			Configuration
			<i class="fas fa-angle-left right"></i>

		</p>
	</a>
	<ul class="nav nav-treeview">

		<li class="nav-item">
			<a href="{{ path('app_configuration_app_index') }}" class="nav-link">

				<i class="far fa-users nav-icon"></i>
				<p>Parametres
				</p>
			</a>
		</li>
		<li class="nav-item">
			<a href="{{ path('app_configuration_sms_app_new') }}" class="nav-link">


				<i class="far fa-users nav-icon"></i>
				<p>SMS
				</p>
			</a>
		</li>
		<li class="nav-item">
			<a href="{{ path('app_model_sms_app_index') }}" class="nav-link">


				<i class="far fa-send nav-icon"></i>
				<p>Model SMS
				</p>
			</a>
		</li>


	</ul>
</li>


<li class="nav-item">
	<a href="{{ path('admin_profil') }}" class="nav-link">
		<i class="nav-icon fas fa-user"></i>
		<p>Profil</p>
	</a>
</li>
