{% extends 'admin/include/main.html.twig' %}

{#{% titre de l'activite %}#}
{% block title_job %}
	<h1 class="card-title">
		{{  'Liste Lotissement' }}
	</h1>
{% endblock %}

{# {% operation possible %}#}
{% block option %}
	{% for message in app.flashes('success') %}

		<div class="flash-notice alert alert-success">
			{{ message }}
		</div>

	{% endfor %}

	<a href=" {{ path('app_lotissement_app_new') }}" class="m-1 btn btn-info float-right btn-sm" role="button">


		<i class="m-1 fa fa-plus" aria-hidden="true"></i>Ajouter</a>


{% endblock %}

{# {% les donnees affichees %}#}
{% block data %}

	<div class="row">
		<div class="col-12">
			<div class="card card-margin">
				<div class="card-body">
					<div class="row search-body">
						<div class="col-lg-12">
							<div class="search-result">

								<div class="result-body">
									<div class="table-responsive">
										<table class="table widget-26" id="sampleTable">
											<thead>
												<tr>
													<th>Numero</th>
													<th>Denomination</th>
													<th>Demande</th>
													<th>Localité</th>
													<th>Plans</th>
													<th>Parcelles</th>
													<th>actions</th>
												</tr>
											</thead>
											<tbody>
												{% for lotissement in lotissements %}
													<tr>
														<td>{{ lotissement.numero }}</td>

														<td>{{ lotissement.denomination }}</td>
														<td>

															{% if lotissement.demandes|length > 0 %}
																<a href="{{ path('app_lotissement_demande_app_index', {'id': lotissement.id}) }}" class="btn btn-link">
																	{{ lotissement.demandes | length }}

																</a>
															{% else %}
																{{ lotissement.demandes | length }}


															{% endif %}

														</td>
														<td>{{ lotissement.localite.denomination }}</td>
														<td>


															{% if lotissement.plans|length >0 %}
																<a href="{{ path('app_lotissement_plan_app_index', {'id': lotissement.id}) }}" class="btn btn-link">
																	{{lotissement.plans|length}}

																</a>
															{% else %}
																{{ lotissement.plans|length }}
															{% endif %}


														</td>
														<td>

															{% if lotissement.parcelles|length > 0 %}
																<a href="{{ path('app_lotissement_parcelle_app_index', {'id': lotissement.id}) }}" class="btn btn-link">
																	{{ lotissement.parcelles | length }}
																</a>
															{% else %}
																{{ lotissement.parcelles | length }}

															{% endif %}

														</td>


														<td>
															<a href="{{ path('app_lotissement_app_show', {'id': lotissement.id}) }}" class="btn btn-outline-dark">
																<i class="fas fa-eye    "></i>
															</a>
															<a href="{{ path('app_lotissement_app_edit', {'id': lotissement.id}) }}" class="btn btn-outline-dark">
																<i class="fas fa-edit    "></i>
															</a>

														</td>
													</tr>
												{% else %}
													<tr>
														<td colspan="5">no records found</td>
													</tr>
												{% endfor %}
											</tbody>
										</table>


									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
{% endblock %}
