{% extends 'client/include/main.html.twig' %}

{#{% titre de l'activite %}#}
{% block title_job %}
	<h1 class="card-title">
		{{  'Plans ' ~ lotissement.denomination }}
	</h1>
{% endblock %}

{# {% operation possible %}#}
{% block option %}
	{% for message in app.flashes('success') %}

		<div class="flash-notice alert alert-success">
			{{ message }}
		</div>

	{% endfor %}

	<a href=" {{ path('client_plan_app_new') }}" class="m-1 btn btn-info float-right btn-sm" role="button">


		<i class="m-1 fa fa-plus" aria-hidden="true"></i>Ajouter</a>


{% endblock %}

{# {% les donnees affichees %}#}
{% block data %}

	<div class="row">
		<div class="col-12">
			<div class="card card-margin">
				<div class="card-body">
					<div class="row search-body">
						<div class="col-lg-12">
							<div class="search-result">

								<div class="result-body">
									<div class="table-responsive">
										<table class="table widget-26" id="sampleTable">
											<thead>
												<tr>

													<th>Type</th>
													<th>Description</th>
													<th>Statut</th>
													<th>Fichier</th>
													<th>actions</th>
												</tr>
											</thead>
											<tbody>
												{% for plan in plans %}
													<tr>

														<td>{{ plan.type }}</td>
														<td>{{ plan.description }}</td>

														<td>
															<a href="{{ path('client_plan_statut_app_update', { 'id' : plan.id } ) }}" class="btn btn-outline-{{ plan.statut ? 'success' : 'danger'}}  " type="button">


																<i class="fa-solid fa-{{ plan.statut ? 'user': 'lock' }}"></i>

																{{ plan.statut ? 'Activé' : 'Desactivé' }}

															</a>


														</td>
														<td>

															{% for fiche in plan.fichier %}

																<a href="{{ asset('uploads/plans/' ~ fiche) }}" target="_blank">fiche

																</a>

															{% endfor %}
														</td>

														<td>
															<a href="{{ path('client_plan_app_show', {'id': plan.id}) }}" class="btn btn-outline-dark">
																<i class="fa fa-eye" aria-hidden="true"></i>
															</a>
															<a href="{{ path('client_plan_app_edit', {'id': plan.id}) }}" class="btn btn-outline-dark">
																<i class="fas fa-edit    "></i>
															</a>
														</td>
													</tr>
												{% else %}
													<tr>
														<td colspan="6">no records found</td>
													</tr>
												{% endfor %}


											</tbody>
										</table>


									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>

{% endblock %}
