{% extends 'client/include/main.html.twig' %}


{# {% titre de l'activite %} #}
{% block title_job %}

{% endblock %}

{#        {% operation possible  %} #}
{% block option %}

    {% for message in app.flashes('notice') %}

        <div class="flash-notice alert alert-success">
            {{ message }}
        </div>

    {% endfor %}

{% endblock %}

{#        {% les donnees affichees %} #}
{% block data %}
    <section>
        <h2 class="text-bold"> {{ titre }} </h2>
        <div class="container">
            {{ form(form) }}
        </div>
    </section>

    <section>
        {% if app.request.method == 'POST' %}
            <div>
                {% if livres | length == 0 %}
                    <h4>Aucun résulat pour votre recherche.</h4>
                {% else %}
                    <h3 class="mt-3">Vos résulats de recherche :</h3>
                    {% for livre in livres %}
                        <div class="mt-3 p-3 bg-light border rounded">
                            <a href="{{ path('etudiants_livres_detail', {'id': livre.id}) }}">
                                <h4 class="text-dark"><i
                                            class="bi bi-arrow-down-right-square-fill text-primary"></i>
                                    {{ livre.titre }}</h4>
                                <div class="text-dark small p-1 text-bold rounded">
                                    publié le {{ livre.getDateParution() | date }}
                                    par la maison d'édition : {{ livre.getMaisonEdition() }}
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        {% endif %}
    </section>



{% endblock %}



