{% extends 'admin/include/main.html.twig' %}

{#{% titre de l'activite %}#}
{% block title_job %}
	<h1 class="card-title">
		{{  'Edition Etat Lotissement' }}
	</h1>
{% endblock %}

{# {% operation possible %}#}
{% block option %}
	{% for message in app.flashes('success') %}

		<div class="flash-notice alert alert-success">
			{{ message }}
		</div>

	{% endfor %}

	<a href=" {{ path('app_statut_lotissement_app_index') }}" class="m-1 btn btn-info float-right btn-sm" role="button">


		<i class="m-1 fa fa-plus" aria-hidden="true"></i>Ajouter</a>

	<a href="{{ path('app_statut_lotissement_app_index') }}" class="m-1 btn btn-info float-right btn-sm">

		<i class="fas fa-list m-1   "></i>Liste
	</a>


{% endblock %}

{# {% les donnees affichees %}#}
{% block data %}

	<div class="row">
		<div class="col-12">
			<div class="card card-margin">
				<div class="card-body">
					<div class="row search-body">
						<div class="col-lg-12">
							<div class="search-result">

								<div class="result-body">
									<div class="table-responsive">
										{{ include('admin/statut_lotissement_app/_form.html.twig', {'button_label': 'Update'}) }}


									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
{% endblock %}
